{% extends 'layout.html' %}

{% block head %}
    <title>Reservation Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <a href="{{ url_for('index')}}" class="btn btn-danger"> Back</a>
        <h2>GPU Reservation Management</h2>
        
        {% for gpu in GPUs_data %}
        <div class="container">
            <h4>Waiting List: {{ gpu.model }} - {{ gpu.cuda_version }}</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Order</th>
                            <th>User/Lab</th>
                            <th>Priority</th>
                            <th>Booking Duration (Hour)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for waiting in waiting_list_A100 %} -->
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{ loop.index0 }}({{ loop.index0 }})</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- {% endfor %} -->
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container mt-5">
        <h2>Reservation History</h2>
        
        {% for gpu in GPUs_data %}
        <div class="container">
            <h4>GPU: {{ gpu.model }} - {{ gpu.cuda_version }}</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>User/Lab</th>
                            <th>Duration</th>
                            <th>reservation_time</th>
                            <th>notification_time</th>
                            <th>start_time</th>
                            <th>end_time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user, reservation_info in gpu.history_list %}
                        <tr>
                            <td>{{ user.name }}({{ user.username }}) / {{ user.lab }}</td>  <!-- User/Lab -->
                            <td>{{ reservation_info.duration }} /hr</td>  <!-- Booking Duration (Hour) -->
                            <td>{{ reservation_info.reservation_time }}</td>  <!-- reservation_time -->
                            <td>{{ reservation_info.notification_time }}</td>  <!-- notification_time -->
                            <td>{{ reservation_info.start_time }}</td>  <!-- start_time -->
                            <td>{{ reservation_info.end_time }}</td>  <!-- end_time -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="/static/js/reservation.js"></script>
{% endblock %}

